config.stopBubbling = true
lombok.addLombokGeneratedAnnotation = true
lombok.copyableAnnotations += jakarta.inject.Inject
lombok.copyableAnnotations += org.eclipse.microprofile.rest.client.inject.RestClient
lombok.copyableAnnotations += org.eclipse.microprofile.config.inject.ConfigProperty
#lombok.copyableAnnotations += jakarta.ws.rs.core.Context